.mat-card-title  {
  font-size: 18px;
}
.product-card {
  margin-bottom: 15px;
  .mat-card-lg-image {
    max-width: 125px;
    max-height: 125px;
    width: auto;
    height: auto;
    margin-left: 15px;
  }
}
.edit-icon {
  cursor: pointer;
}
.invisible {
  display: none;
}
.save-btn  {
  margin-left: 10px;
}
.section-title {
  margin-bottom: 30px;
}
.editname-form-container {
  min-height: 65px;
}
.mat-raised-button {
  margin-top:10px;
}