.twoColFlex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  .col {
    width: 400px;
    min-width: 200px;
    margin: 0 20px 20px 20px;
  }
}
.productImg {
  width: 80px;
}
