<header>
  <nav>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
      <div fxFlex="40" fxLayout.xs="row" fxLayoutAlign="left right">
        <a mat-raised-button *ngFor="let item of menuItems" routerLink="{{item.link}}">
          {{item.name | uppercase}}
        </a>
      </div>
      <div fxFlex="20" id="today" class="text-center">
        <span ng-show="title || false" class="title">{{ title }}</span>
      </div>
      <div fxFlex="40" class="text-right">
        <!-- Place this tag where you want the button to render. -->
        <!-- Place this tag where you want the button to render. -->
        <!-- Place this tag where you want the button to render. -->

        <button mat-icon-button [matMenuTriggerFor]="matmenu">
          <mat-icon>public</mat-icon>
        </button>
        <mat-menu #matmenu="matMenu">
          <button mat-menu-item (click)="changeLanguage('en')">
            <mat-icon>flag</mat-icon>
            <span>
                            English
                        </span>
          </button>
          <button mat-menu-item (click)="changeLanguage('de')">
            <mat-icon>flag</mat-icon>
            <span>
                            Deutsch
                        </span>
          </button>
        </mat-menu>

        <a class="image-icon" href="{{appConfig.repositoryURL}}" target="_blank">
          <img src="assets/images/github-circle-white-transparent.svg">
        </a>
      </div>
    </div>
  </nav>
  <section class="progress-bar">
    <mat-progress-bar [color]="'primary'" [mode]="progressBarMode">
    </mat-progress-bar>
  </section>
</header>
